@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory Home</h2>

<div class="navbar navbar-left nav-stacked">
    <ul class="nav navbar-nav navbar-link">
        <li><a href="~/Pharmacy/AddInventory">Add Inventory</a></li>
        <li><a href="~/Pharmacy/SelectInventory">Modify Inventory</a></li>
        <li><a>Lookup</a></li>
        @if (User.IsInRole("PharmaAdmin"))
        {
            <li><a href="~/Pharmacy/AddtoDrugList">Add Drug to Drug List</a></li>
            <li><a href="~/Pharmacy/SelectDrug">Remove Drug from Drug List</a></li>
        }
    </ul>
</div>

<br />
<br />
<div class="panel-info" style="clear: both;">
    <h3>Place Documentation Here</h3>
    <br>
    <p><em>Maybe put a message around here</em></p>
    <br>
    <p>This area is to show the users how to operate the system</p>
</div>


