
@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory Home</h2>

<div class="panel-body">
    <h2>Place Documentation Here</h2>
    <br>
    <p><em>Maybe put a message around here</em></p>
    <br>
    <p>This area is to show the users how to operate the system</p>
</div>

<div class="navbar-left">
    <a>Lookup</a>
    <a>Inventory Reports</a>
    <a>Add Inventory</a>
    <a>Remove Inventory</a>
</div>

