@{
    ViewBag.Title = "Order";
}

<h2>Order Home</h2>

<div class="navbar navbar-left nav-stacked">
    <ul class="nav navbar-nav navbar-link">
        <li><a href="~/Order/PlaceOrder">Place an Order</a></li>
        <li><a href="~/Order/SendOrder">Send an Order</a></li>
        <li><a href="~/Order/RecieveOrder">Receive an Order</a></li>
        <li><a href="~/Order/DispenseDrug">Dispense a Drug</a></li>
        <li><a href="~/Order/DestroyDrug">Destroy a Drug</a></li>
    </ul>
</div>
<br />
<br />
<div class="panel-info" style="clear: both;">
    <h3>Place Documentation Here</h3>
    <br>
    <p><em>Maybe put a message around here</em></p>
    <br>
    <p>This area is to show the users how to operate the system</p>
</div>


