@{
    ViewBag.Title = "Order";
}

<h2>Place an Order</h2>
<br />
<br />
<table class="spacing">
    <tr>
        <td class="space"><label for="=lbDrug">Drug:</label> </td>
        &nbsp;
        <td><input id="drug" type="text" /><br /></td>
    </tr>
    <tr>
        <td class="space"><label for="lbAmountNeeded">Amount Needed:</label></td>
        &nbsp;
        <td><input id="AmountNeeded" type="text" /><br /></td>
    </tr>
    <tr>
        <td class="space"><label for="lbfuturelocation">Location Needed:</label> </td>
        &nbsp;
        <td><input id="locationneeded" type="text" /></td>
    </tr>
</table>

<br />
<input id="placeOrder" type="submit" value="SUBMIT ORDER" />





<style>
    table {
        border-collapse: collapse;
    }

    th {
        background-color: green;
        Color: white;
    }

    th, td {
        width: 150px;
        text-align: center;
        #border: 1px solid black;
        padding: 5px
    }

    .space {
        border-right: hidden;
    }

    .spacing {
        border-collapse: separate;
        border-spacing: 0 15px;
    }

    h1 {
        color: green;
    }
</style>
