@{
    ViewBag.Title = "Order";
}



<div class="navbar navbar-left nav-stacked">
    <ul class="nav navbar-nav navbar-link">
        <li><a href="~/Order/PlaceOrder">Place an Order</a></li>
        <li><a href="~/Order/SendOrder">Send an Order</a></li>
        <li><a href="~/Order/RecieveOrder">Receive an Order</a></li>
        <li><a href="~/Order/DispenseItem">Dispense an Item</a></li>
        <li><a href="~/Order/DestroyItem">Destroy an Item</a></li>
    </ul>
</div>
<br />
<br />
<div class="panel-info" style="clear: both;">
    <h3>Order User Guide</h3>
    <br>
    <p><b>Place an Order</b> </p>
    <p style="margin-left:4em;"> Drugs from warehouse inventory for users location.</p>
    <br>
    <p><em><b>Send an Order:</b> Submit form for each order that has been sent to requested location.</em></p>
    <br>
    <p><em><b>Recieve an Order:</b> Once ordered drugs arrive at pharmacy or clinic, user should input on form to add to their locations inventory.</em></p>
    <br>
    <p><em><b>Dispense Inventory:</b> Once an item in inventory has been dispensed, user must update inventory by filling out dispense form.</em></p>
    <br>
    <p><em><b>Destroy Inventory:</b> If inventory becomes expired or unusable, user must update inventory by filling out destroy form.</em></p>
    <br>
</div>


