<h2>Send an Order</h2>

<table id="tblSendOrder" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Drug Name</th>
            <th>Barcode Number</th>
            <th>Quantity Needed</th>
            <th>Send To</th>
            <th>Expiration Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in ViewBag.Data)
        {
            <tr>
                @for (var j = 1; j < row.ItemArray.Length; j++)
                {
                    var column = row[j];
                    <td>@column</td>
                }
                <td>
                    @Html.ActionLink("Send Order", "SendOrder", new { id = row[0], qty = row[2], futureLocation=row[3] })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(() => {
        $('#tblSendOrder').DataTable()
    })
</script>

