<h2>Destroy an Order</h2>

<table id="tblDestroyOrder" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Drug Name</th>
            <th>Quantity Available</th>
            <th>Expiration Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in ViewBag.Data)
        {
            <tr>
                @for (var j = 1; j < row.ItemArray.Length; j++)
                {
                    var column = row[j];
                    <td>@column</td>
                }
                <td>
                    @Html.ActionLink("Destroy Order", "DestroyOrder", new { id = row[0], qty = row[2] })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(() => {
        $('#tblDestroyOrder').DataTable()
    })
</script>
