@{
    ViewBag.Title = "Administration";
}

<h2>Adminstration Management</h2>

<div class="navbar navbar-left nav-stacked">
    <ul class="nav navbar-nav navbar-link">
        <li>@Html.ActionLink("Add Account", "AddUser")</li>
        <li>@Html.ActionLink("Account List", "SelectUser")</li>
    </ul>
</div>

<br />
<br />
<div class="panel-info" style="clear: both;">
    <h3>Place Documentation Here</h3>
    <br>
    <p><em>Maybe put a message around here</em></p>
    <br>
    <p>This area is to show the users how to operate the system</p>
</div>
