@{
    ViewBag.Title = "Administration";
}

    <div class="panel-info" style="clear: both;">
        <h3>Administration User Guide</h3>
        <br>
        <p><b>@Html.ActionLink("Add Account", "AddUser")</b></p>
        <p style="margin-left:4em;"> Enter new user information.</p>
        <br>
        <p><b>@Html.ActionLink("Account List", "SelectUser")</b></p>
        <p style="margin-left:4em;"> See a list of all system users. Gives the option to modify user information, view user details, and remove a user.</p>
    </div>
