<!-- ko with: home -->
<div class="jumbotron">
    <h1>Uzima Rx</h1>
    <p class="lead"></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>User Guide</h2>
        <p>Download PPT here.</p>      
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Download &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
            It's now easier than ever before to getting started writing highly interactive web applications.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
