@{
    ViewBag.Title = "Pending Orders";
}

<h2>Pending Orders</h2>

<table class="table">
     <tr>
        @foreach (var column in ViewBag.Columns)
        {
            <th>@column</th>
        }
    </tr>
    @foreach (var row in ViewBag.Data)
    {
        <tr>
            @foreach (var column in row.ItemArray)
            {
                <td>@column</td>
            }
        </tr>
    }

</table>
