@{
    ViewBag.Title = "Pending Orders";
}

<h2>Pending Orders</h2>

<table class="table">
    <tr>
        <th>Drug Name</th>
        <th>Ordered On</th>
        <th>Ordered By</th>
        <th>Going To</th>
        <th>Expiring On</th>
    </tr>

</table>
